<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620875347794-j1olu7crlmsck3c7i67ut6behilgpgqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620875347794-j1olu7crlmsck3c7i67ut6behilgpgqo</string>
	<key>API_KEY</key>
	<string>GOOGLE_CLOUD_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>620875347794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jc2195.fess</string>
	<key>PROJECT_ID</key>
	<string>fess-34d5a</string>
	<key>STORAGE_BUCKET</key>
	<string>fess-34d5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620875347794:ios:a054bab0ac07ef8eeaec8b</string>
	<key>DATABASE_URL</key>
	<string>https://fess-34d5a.firebaseio.com</string>
</dict>
</plist>